{{- /* //First letter skips non-letter character in the beginning. that's why sorting by first letter and then title */ -}}
"sort": [
  {
    "title.title_first_letter": {
      "order": "asc"
    }
  },
  {
    "title.title_raw": {
      "order": "asc"
    }
  },
  {
    "release_date": {
      "order": "asc"
    }
  }
]
